:root {
    /* declare a variable with `--` syntax */
    --indigo-dye: #083D77;
    --sap-green: #5d7c2cff;
    --silver-metallic: #9fa6acff;
    --alabaster: #e6e3d7ff;
    --pine-tree: #252e1aff;

    /* --alabaster: #eaeaeaff;
    --pine-tree: #2a2d34ff;
    --sap-green: #5c946eff;
    --silver-metallic: #ff579fff;
    --indigo-dye: #574ae2ff; */
    font-family: sans-serif;
    font-size: 62.5%;
}
    /* 
    border: 1px solid red;
    */
/* * {
    box-sizing: border-box;
    } */

header {
    background-color: var(--pine-tree);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: var(--alabaster);
    font-size: 5rem;
    /* border: 1px solid red; */
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    min-width: 300px;
    align-items: stretch;
    /* border: 1px solid green; */
}


nav a {
    background-color: unset;
    color: var(--alabaster);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}

nav a:hover {
    color: var(--silver-metallic);
  }

main {
    background-color: var(--alabaster);
}

#hero {
    display: flex;
    width: 100%;
    max-height: 500px;
    margin: 0px;
    overflow: auto;
}

#hero img {
    object-fit: cover;
    object-position: fill;
    width: 100%;
}
  
#container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* align-content: stretch; */
    width: 100%;
    /* min-width: 800px; */
    padding: 5% 10% 5%;
    /* border: 1px solid red; */
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding-right: 5%;
    align-items: center;
}

h2 {
    width: 30%;
    font-size: 5rem;
    text-align: right;
    color: var(--indigo-dye);
    padding: 1%;
    border-right: 2%;
    border-right-style: solid;
    border-right-color: var(--silver-metallic);
    margin-right: 2%;
}

#headshot {
    width: 35%;
    height: auto;
    padding: 2%;
}

#aboutMe p {
    width: 35%;
    font-size: 1.5rem;
    padding-left: 2%;
    color: var(--pine-tree);
}

#projectContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;

}

#myProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

.relativePosition {
    position: relative;
}

h3 {
    font-size: 2.5rem;
    z-index: 2;
    top: -25%;
    left: 5%;
    color: var(--alabaster);
    background-color: var(--indigo-dye);
    text-align: center;
    width: max-content;
    line-height: 175%;
    padding: 0 2% 0;
}

#project1 {
    width: 96%;
    height: auto;
    margin: 2%;

}

#project1 img {
    width: 100%;
    height: auto;
    position: relative;
    border: 10px solid var(--sap-green);
}

#project1 img:hover {
    border: 10px solid var(--silver-metallic);
}

.followerProjects {
    width: 46%;
    height: auto;
    margin: 2%;
}

.followerProjects img {
    width: 100%;
    border: 10px solid var(--sap-green);
}

.followerProjects img:hover {
    border: 10px solid var(--silver-metallic);
}

#contact p {
    font-size: 2.5rem;
    color: var(--pine-tree);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;    
}

footer p {
    font-size: 3rem;
    color: var(--pine-tree);
    text-align: center;
}

@media screen and (max-width: 800px) {
    nav ul {
        justify-content: space-around;
        flex-direction: column;
    }
    header {
        flex-direction: column;
        font-size: 3rem;
        align-content: stretch;
    }
    main section {
        flex-direction: column;
    }
    h2 {
        border-right: 0%;
        border-right-style: none;
        border-bottom: 2%;
        border-bottom-style: solid;
        border-bottom-color: var(--silver-metallic);
        width: 100%;
        text-align: center;
    }
    #container {
        padding: 5%;
    }
    #myProjects {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    h3 {
        font-size: 2rem;
    }
    #headshot {
        width: 50%;
    }
    #aboutMe p {
        width: 75%;
    }

    .followerProjects {
        width: 100%;
    }
    
}
 